.button {
  display: inline-block;
  padding: $base-padding $base-padding*1.5;
  padding-top: $base-padding*1.2;
  text-decoration: none;
  color: #fff;
  background: $color-mid;
  line-height: 1;
  border-radius: $base-padding/2;
  text-transform: uppercase;
  font-weight: $black; 
  border: none;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  @include vendor-prefix(transition, all 0.15s ease-out);
  @include vendor-prefix(fill-mode, forwards);
  
  
  &:hover, &:focus, &:active {
    background: lighten($color-mid, 10%);
    color: #fff;
    text-decoration: none;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    @include vendor-prefix(animation, bounce 0.2s cubic-bezier(0.31, 0.44, 0.445, 1.2)); 
  }
  
  /*
  &:hover {
    
  }
  */
  &:focus, &:active {
    box-shadow: none;
    background: darken($color-mid, 10%);
    outline: none;
    @include vendor-prefix(animation, press 0.2s cubic-bezier(0.31, 0.44, 0.445, 1.2)); 
  }
  
  
  &.red {
    background: $color-red;
    
    &:hover {
      background: lighten($color-red, 10%);
    }
    
    &:focus, &:active {
      background: darken($color-red, 10%);
    }
  }  
  
  &.blue {
    background: $color-blue;
    
    &:hover {
      background: lighten($color-blue, 10%);
    }
    
    &:focus, &:active {
      background: darken($color-blue, 10%);
    }    
  }  
}

.hero .button {
    display: inline-block;
    padding: $base-padding*1.5 $base-padding*2;
    padding-top: $base-padding*1.8;
    background: $color-dark-blue;
    font-size: $font-size-med;
    width: 100%;
    
    &:focus, &:active {
      background: darken($color-dark-blue, 20%);
    }        
}

@media #{$medium-up} {
  .hero .button {
    width: auto;
  }  
}  